/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8; }
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; }
.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	box-sizing: border-box; }
.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; }
.mfp-align-top .mfp-container:before {
	display: none; }
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045; }
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto; }
.mfp-ajax-cur {
	cursor: progress; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out; }
.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in; }
.mfp-auto-cursor .mfp-content {
	cursor: auto; }
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none; }
.mfp-loading.mfp-figure {
	display: none; }
.mfp-hide {
	display: none !important; }
.mfp-preloader {
	color: #CCC;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044; }
.mfp-preloader a {
	color: #CCC; }
.mfp-preloader a:hover {
	color: #FFF; }
.mfp-s-ready .mfp-preloader {
	display: none; }
.mfp-s-error .mfp-content {
	display: none; }
button.mfp-close,
button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	touch-action: manipulation; }
button::-moz-focus-inner {
	padding: 0;
	border: 0; }
.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65;
	padding: 0 0 18px 10px;
	color: #FFF;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace; }
.mfp-close:hover,
.mfp-close:focus {
	opacity: 1; }
.mfp-close:active {
	top: 1px; }
.mfp-close-btn-in .mfp-close {
	color: #333; }
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: #FFF;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%; }
.mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #CCC;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap; }
.mfp-arrow {
	position: absolute;
	opacity: 0.65;
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: transparent; }
.mfp-arrow:active {
	margin-top: -54px; }
.mfp-arrow:hover,
.mfp-arrow:focus {
	opacity: 1; }
.mfp-arrow:before,
.mfp-arrow:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 35px;
	margin-left: 35px;
	border: medium inset transparent; }
.mfp-arrow:after {
	border-top-width: 13px;
	border-bottom-width: 13px;
	top: 8px; }
.mfp-arrow:before {
	border-top-width: 21px;
	border-bottom-width: 21px;
	opacity: 0.7; }

.mfp-arrow-left {
	left: 0; }
.mfp-arrow-left:after {
	border-right: 17px solid #FFF;
	margin-left: 31px; }
.mfp-arrow-left:before {
	margin-left: 25px;
	border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
	right: 0; }
.mfp-arrow-right:after {
	border-left: 17px solid #FFF;
	margin-left: 39px; }
.mfp-arrow-right:before {
	border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {
	line-height: 0;
	width: 100%;
	max-width: 900px; }
.mfp-iframe-holder .mfp-close {
	top: -40px; }

.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000; }

/* Main image in popup */
img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	box-sizing: border-box;
	padding: 40px 0 40px;
	margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
	line-height: 0; }
.mfp-figure:after {
	content: '';
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #444; }
.mfp-figure small {
	color: #BDBDBD;
	display: block;
	font-size: 12px;
	line-height: 14px; }
.mfp-figure figure {
	margin: 0; }

.mfp-bottom-bar {
	margin-top: -36px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto; }

.mfp-title {
	text-align: left;
	line-height: 18px;
	color: #F3F3F3;
	word-wrap: break-word;
	padding-right: 36px; }

.mfp-image-holder .mfp-content {
	max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
	/**
		 * Remove all paddings around the image on small screen
		 */
	.mfp-img-mobile .mfp-image-holder {
		padding-left: 0;
		padding-right: 0; }
	.mfp-img-mobile img.mfp-img {
		padding: 0; }
	.mfp-img-mobile .mfp-figure:after {
		top: 0;
		bottom: 0; }
	.mfp-img-mobile .mfp-figure small {
		display: inline;
		margin-left: 5px; }
	.mfp-img-mobile .mfp-bottom-bar {
		background: rgba(0, 0, 0, 0.6);
		bottom: 0;
		margin: 0;
		top: auto;
		padding: 3px 5px;
		position: fixed;
		box-sizing: border-box; }
	.mfp-img-mobile .mfp-bottom-bar:empty {
		padding: 0; }
	.mfp-img-mobile .mfp-counter {
		right: 5px;
		top: 3px; }
	.mfp-img-mobile .mfp-close {
		top: 0;
		right: 0;
		width: 35px;
		height: 35px;
		line-height: 35px;
		background: rgba(0, 0, 0, 0.6);
		position: fixed;
		text-align: center;
		padding: 0; } }

@media all and (max-width: 900px) {
	.mfp-arrow {
		-webkit-transform: scale(0.75);
		transform: scale(0.75); }
	.mfp-arrow-left {
		-webkit-transform-origin: 0;
		transform-origin: 0; }
	.mfp-arrow-right {
		-webkit-transform-origin: 100%;
		transform-origin: 100%; }
	.mfp-container {
		padding-left: 6px;
		padding-right: 6px; } }

/*.r_page {*/
/*	overflow: hidden;*/
/*}*/
.r_page section {
	position: relative;
}
a.r_table {
	display: block;
}
a.r_table img {
	width: 100%;
	height: auto;
}
.r_page .r_history p {
	color: #3c3d43;
}
.r_page .r_factors .r_title {
	color: #3c3d43;
}

/*sourses*/
.btn_sources {
	border: none;
	background: transparent;
	color: rgba(60, 61, 67, 0.5);
	font-family: "RotisSerifW1G-Bold", sans-serif;
	font-size: 22px;
	letter-spacing: normal;
	line-height: 24px;
	text-align: center;
	transition: color 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn_sources:focus {
	outline: none;
}
.btn_sources:hover {
	color: rgba(60, 61, 67, 0.8);
}
.btn_sources svg {
	width: 15px;
	height: 10px;
	margin-left: 10px;
	fill: rgba(60, 61, 67, 0.5);
	transition: transform 0.3s ease-in-out;
}
.btn_sources:hover svg {
	fill: rgba(60, 61, 67, 0.8);
}
.btn_sources.show svg {
	transform: rotate(180deg);
}
.r_sources_content {
	display: none;
	list-style-type: none;
	color: #3c3d43;
	padding: 30px 0;
}
.r_sources_content a {
	color: #3c3d43;
	font-family: "RotisSerifW1G-Regular", sans-serif;
	line-height: 24px;
	text-decoration: none;
}
.r_sources_content li {
	margin-bottom: 20px;
	font-family: "RotisSerifW1G-Regular", sans-serif;
	font-size: 18px;
	line-height: 24px;
}
.r_sources_content li:before {
	content: "\2014";
}
/*intro*/
.r_gray_bg {
	background: #f4f4f4;
}
.r_page .intro-bg img{
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
.r_page .lr-intro .intro-content {
	-webkit-transform: translateY(-20%) translateX(-50%);
	transform: translateY(-20%) translateX(-50%);
}
.r_main_title {
	text-transform: uppercase;
	white-space: nowrap;
	font-style: normal;
	letter-spacing: .3em;
	text-align: center;
	text-transform: uppercase;
}
.r_main_subtitle {
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-family: 'MuseoSansCyrl-300', sans-serif;
	font-size: 35px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 30px;
	padding-bottom: 38px;
	position: relative;
}
.r_main_subtitle:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 126px;
	height: 1px;
	background: #fff;
}
.r_page .lr-nav-layer .nav-layer-content .nav-landing ul li {
	margin-bottom: 14px;
}
.r_page .lr-nav-layer .nav-layer-content .nav-landing ul li a {
	line-height: 1.4;
}
.r_page .lr-nav-layer .nav-layer-content .nav-chapters {
	width: 41%;
}
/*analysis_1*/
.r_page  .lr-analysis .lr-container:after {
	left: initial;
	top: initial;
	right: -115px;
	bottom: -119px;
}
.r_page .gradient_bg {
	background: url("../images_r/bg_color.png") no-repeat center center;
	background-size: cover;
	padding: 85px 0 216px;
	position: relative;
}
.r_page .gradient_bg:after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 68px;
	width: 100%;
	background: url("../images_r/bg_small_line.svg") no-repeat bottom  right -400px;
	background-size: contain;

}
.r_page .r_title {
	color: #ffffff;
	font-family: "RotisSerifW1G-Bold", sans-serif;
	font-size: 40px;
	font-weight: 700;
	font-style: normal;
	line-height: 46px;
	text-align: center;
	letter-spacing: normal;
	text-transform: none;
	margin-bottom: 36px;
}
.r_page .r_text {
	color: #ffffff;
	font-family: "MuseoSansCyrl-500", sans-serif;
	text-align: left;
}
.r_page .r_text p {
	margin-bottom: 28px;
}
.r_page .r_text p:last-child
{
	margin-bottom: 0;
}
.r_part {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 0 auto 12px;
	color: #d03b3e;
	font-family: "RotisSerifW1G-Bold", sans-serif;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 46px;
	text-align: center;
	text-transform: uppercase;
}
.r_part:after,
.r_part::before {
	content: '';
	position: absolute;
	top: 50%;
	width: 60px;
	height: 2px;
	background: #d03b3e;
}
.r_part::before {
	left: 100%;
}
.r_part:after {
	right: 100%;
}
@media (max-width: 1200px) {
	.gradient_bg {
		padding: 80px 80px 130px;
	}
}
@media (max-width: 1200px) {
	.gradient_bg {
		padding: 50px 20px;
	}
}

/*difference*/

.r_difference {
	padding: 150px 0 60px;
}
.r_difference .r_text {
	color: #3c3d43;
	font-family: "MuseoSansCyrl-500", sans-serif;
}
.r_difference_top {
	margin-bottom: 100px;
}
.r_difference .r_title {
	color: #3c3d43;
	font-size: 40px;
	font-family: "RotisSerifW1G-Bold", sans-serif;
	font-style: normal;
	letter-spacing: normal;
	line-height: 46px;
	margin-bottom: 8px;
}
.r_difference .r_subtitle {
	color: #8a8a8a;
	font-family: "MuseoSansCyrl-500", sans-serif;
	line-height: 26px;
	margin-bottom: 50px;
	text-align: center;
}
.lr-container.r_container_table {
	padding-left: 0 !important;
}
/*representatives*/

.r_representatives_list {
	position: relative;
	padding-top: 200px;
	padding-bottom: 150px;
}
.r_representatives_list .r_title--ss {
	margin-bottom: 68px;
}
.r_page .lr-headsofstate-list .country .country-content,
.r_page .country {
	padding: 0;
}
.r_page .lr-headsofstate-list .country .country-content .cc-right {
	padding-right: 0;
	padding-left: 60px;
	border-left: 1px solid #fff;
}
.r_page .lr-headsofstate-list .country .country-content .cc-left {
	padding-left: 0;
	padding-right: 60px;
}
.r_head-name {
	text-align: center;
	color: #3c3d43;
	font-family: "MuseoSansCyrl-500", sans-serif;
	font-size: 18px;
	line-height: 22px;
}
.r_head-years {
	color: #3c3d43;
	text-align: center;
	font-family: "MuseoSansCyrl-700", sans-serif;
	font-size: 16px;
}
.r_side-info {
	width: 480px;
	color: #3c3d43;
	font-family: "MuseoSansCyrl-500", sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 28px;
	text-align: left;
}
.r_representatives_list .lr-container:after {
	top: -420px;
	left: -110px;
	content: '';
	position: absolute;
	width: 306px;
	height: 738px;
	background: url(../img/lr-lines2.png) no-repeat center;
	background-size: contain;
	z-index: 5;
}
.r_sticky_wrapper {
	position: relative;
}
.r_scheme_btn {
	opacity: 0;
	background: #3c3d43;
	width: 90px;
	height: 90px;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	left: calc(100% - 20px);
	top: 40px;
	margin-right: 20px;
	flex-wrap: wrap;
	box-shadow: 0 0 7px 1px rgba(92, 92, 92, 0.3);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	cursor: pointer;
	transition:
		opacity 0.3s ease-in-out,
		background-color 0.3s ease-in-out,
		width 0.3s ease-in-out;
}
.r_scheme_btn.show {
	opacity:  1;
}
.r_scheme_btn svg {
	display: block;
	fill: #f4f4f4;
	flex-basis: 35px;
	width: 35px;
	height: 35px;
	margin: 0 10px 5px;
}
.r_scheme_btn span {
	flex-basis: calc(100% - 53px);
	display: block;
	color: #fff;
	font-family: "MuseoSansCyrl-500", sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 18px;
	text-align: left;
	text-decoration: none;
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.3s ease-in-out 0.2s;
}

.r_scheme_btn:hover svg {
	flex-basis: 35px;
	margin-right: 16px;
	margin-left: 0;
	margin-bottom: 0;
	width: 35px;
	height: 35px;
}
.r_scheme_btn:hover span {
	width: initial;
	height: initial;
	opacity: 1;
}
.r_scheme_btn:after {
	content: 'Схема';
	color: #fff;
	font-family: "MuseoSansCyrl-500", sans-serif;
	font-size: 18px;
	line-height: 18px;
	flex-basis: 100%;
}
.r_scheme_btn:hover {
	text-decoration: none;
	padding: 19px 18px;
	background-color: #d03b3e;
	width: 245px;
	flex-wrap: nowrap;
}
.r_scheme_btn:hover:after {
	content: none;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	top: -50px;
}
.mfp-figure figure {
	background: #fff;
	padding: 40px;
}
/*parallel*/
.r_body .nicescroll-cursors {
	right: -2px;
}
.r_page  .gradient_bg.r_parallel {
	padding-top: 154px;
}
.r_page .r_parallel .r_title {
	margin-bottom: 78px;
}
.r_page .r_parallel:after {
	bottom: initial;
	top: -1px;
	background: url('../img/bg_small_line.png') no-repeat bottom right;
	left: 0;
	right: 0;
	height: 68px;
}
#parallels
{
	padding-top: 161px;
	padding-bottom: 150px;
}
.scrollbar-parent {
	height: 498px;
	overflow: hidden;
}
.r_parallel_thead,
.r_parallel_tr {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}
.r_th {
	flex-basis: calc((100% - 114px) / 3);
	color: #ff7275;
	font-family: "MuseoSansCyrl-900", sans-serif;
	font-size: 20px;
	font-style: normal;
	letter-spacing: normal;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
	padding: 0 30px 15px;
	border-right: 1px solid rgba(255,255,255,0.2);
}
.r_parallel_td em {
	color: #fff;
}
.r_parallel_td {
	align-self: stretch;
	flex-basis: calc((100% - 114px) / 3);
	padding: 30px;
	border-right: 1px solid rgba(255,255,255,0.2);
}
.r_parallel_td li,
.r_parallel_td p {
	color: #ffffff;
	font-family: "MuseoSansCyrl-500", sans-serif;
	line-height: 24px;
	text-align: left;
}
.r_parallel_td em {
	font-family: "MuseoSansCyrl-300", sans-serif;
}
.r_parallel_td strong,
.r_parallel_td a {
	color: #ffffff;
	font-family: "MuseoSansCyrl-700", sans-serif;
	text-decoration: none;
}
.r_parallel_td a:hover {
	color: #ffffff;
	text-decoration: none;
}
.r_td_small {
	flex-basis: 114px;
	padding: 0;
}
.r_td_small span {
	display: block;
	color: #ff7275;
	font-family: "RotisSerifW1G-Bold", sans-serif;
	font-size: 36px;
	font-weight: 700;
	font-style: normal;
	line-height: 36.1px;
	letter-spacing: 0.36px;
	padding: 30px 0;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	-webkit-text-orientation: mixed;
	text-orientation: mixed;
	border-right: none;
	text-align: right;
	position: sticky;
	top: 0;
}
.r_th_small {
	align-self: stretch;
	flex-basis: 114px;
	padding: 0;
	color:rgba(255,255,255,0.3);
	font-family: "MuseoSansCyrl-700", sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 18px;
	text-align: left;
	text-transform: uppercase;
	border-right: 1px solid rgba(255,255,255,0.2);
}
.r_parallel_btn:focus {
	outline: none;
}
.r_parallel_btn svg {
	fill: rgba(255,255,255,0.2);
	width: 15px;
	height: 10px;
}
.r_parallel_btn {
	border: none;
	background: transparent;

}
.r_parallel_item.show .r_parallel_btn svg{
	transform: rotate(180deg);
}

/* history */

.r_history {
	padding-top: 150px;
	padding-bottom: 100px;
	width: 100%;
	overflow: hidden;
}
.r_history_wrapper {
	position: relative;
	height: 125px;
}
.r_history_wrapper:before {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: -1;
	background: rgba(60, 61, 67, 0.5);
}
.r_history .owl-carousel .owl-stage-outer {
	overflow: visible ;
}
.r_history_slider {
	overflow: visible;
	position: absolute;
	left: 50%;
	top: 50px;
	transform: translateX(-50%);
	width: 220px;
	z-index: 1;
}
.r_history_item {
	position: relative;
}
.owl-item {
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}
.r_history_tooltip {
	display: block;
	width: 250px;
	margin: 0 auto 40px;
	padding: 10px;
	text-align: center;
	color: rgba(60, 61, 67, 0.5);
	font-size: 14px;

}
.owl-item .r_history_item:after {
	content: '';
	width: 16px;
	height: 16px;
	background-color: #3c3d43;
	border-radius: 50%;
	z-index: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
	transform: scale(1);
	transition:
		transform 0.3s ease-in-out 0.1s,
		color 0.3s ease-in-out;
}
.r_history .lr-container {
	overflow: visible;
}
.r_history_item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px !important;
}
.owl-item.active .r_history_item.r_history_item--small:after{
	transform: scale(11);
}
.r_history_date {
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}
.r_history_hide_left.next {
	width: calc(50% - 420px - 95px);
}
.r_history_hide_left.next img {
	display: none;
}
.r_history_date span {
	color: #3c3d43;
	font-family: "MuseoSansCyrl-900", sans-serif;
	font-size: 18px;
	font-style: normal;
	letter-spacing: normal;
	line-height: 26px;
	text-align: center;
	opacity: 0.5;
	transform: translateY(-30px);
	transition:
		transform 0.3s ease-in-out 0.1s,
		opacity 0.3s ease-in-out 0.1s,
		color 0.3s ease-in-out 0.1s,
		font-size 0.3s ease-in-out 0.1s;
}
.r_history_hide_left .r_prev-date {
	display: none;
}
.r_history_hide_left.next .r_prev-date {
	display: flex;
	width: 95px;
	height: 95px;
}
.r_history_text {
	width: 0;
	height: 0;
	color: transparent;
	overflow: hidden;
	position: absolute;
	left: 50%;
	bottom: 0;
}
.r_history_item-text {
	width: 616px;
	min-height: 280px;
	margin: 40px auto;
	color: #3c3d43;
	font-family: "MuseoSansCyrl-500", sans-serif;
	text-align: center;
}
.r_history_item-text a {
	font-family: "MuseoSansCyrl-700", sans-serif;
	line-height: 28px;
	color: #3c3d43;
	transition: color 0.3s ease-in-out;
}
.r_history_item-text a:hover {
	color: rgba(60, 61, 67, 0.8);
}
.r_history_item-text strong {
	font-family: "MuseoSansCyrl-700", sans-serif;
	line-height: 28px;
}
.r_history_hide_right,
.r_history_hide_left {
	height: 125px;
	width: calc(50% - 420px);
	background: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.r_history_hide_right {
	left: initial;
	right: 0;
	display: none;
}
.r_history_hide_right.prev {
	display: flex;
	justify-content: flex-start;
}

.r_history_hide_right img {
	width: 95px;
	height: 95px;
}
.r_history_hide_right.show {
	display: flex;
}

.r_history_slider.start:after {
	content: none;
}
.owl-item.active .r_history_item:after {
	transform: scale(6);
	background-color: #f4f4f4;
}
.owl-item.active .r_history_date span{
	transform: none;
	color: #4c66bd;
	font-size: 28px;
	font-weight: 400;
	line-height: 26px;
	z-index: 1;
}
.r_history .owl-carousel .owl-nav button.owl-prev,
.r_history .owl-carousel .owl-nav button.owl-next {
	position: absolute;
	top: 0;
	left: 0;
	width:0;
	height: 0;
	font-size: 0;
	color: #fff;
}
.r_history .owl-carousel .owl-nav button.owl-prev:focus,
.r_history .owl-carousel .owl-nav button.owl-next:focus {
	outline: none;
}
.r_title--ss {
	color: #3c3d43;
	font-family: "MuseoSansCyrl-700", sans-serif;
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 33px;
	letter-spacing: 4.2px;
}
.r_history p.r_subtitle {
	margin: 0 auto 60px;
	width: 890px;
	color: #4c66bd;
	font-family: "RotisSerifW1G-It", sans-serif;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

/*factors*/
.r_factors {
	padding-top: 90px;
	padding-bottom: 150px;
}
.r_factors .r_title--ss {
	margin-bottom: 34px;
}
.r_factors .r_title {
	margin-bottom: 83px;
}
.r_factors_text {
	margin-bottom: 80px;
}
.r_factors_text a {
	color: #3c3d43;
	text-decoration: none;
	font-family: "MuseoSansCyrl-700", sans-serif;
	font-style: normal;
}
.r_factors_text a:hover {
	text-decoration: none;
}
.r_factors_text p {
	color: #3c3d43;
	font-family: "MuseoSansCyrl-500", sans-serif;
	text-align: left;
}
.r_factors_text span
{
	color: #3c3d43;
	font-size: 14px;
}

/*compare*/
.r_compare {
	padding-top: 150px;
	padding-bottom: 150px;
}
.r_compare_item,
.r_compare_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.r_compare .r_title--ss {
	margin-bottom: 70px;
	color: #3c3d43;
	font-family: "MuseoSansCyrl-700", sans-serif;;
	text-transform: uppercase;
	letter-spacing: 4.2px;
}
.r_quotes .r_title,
.r_compare .r_title {
	text-transform: none;
	color: #96376f;
	font-family: "RotisSerifW1G-Bold", sans-serif;
	font-size: 32px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 32px;
	text-align: center;
	white-space: nowrap;
	margin-bottom: 8px;
}
.r_compare .r_col_left,
.r_compare .r_col_right {
	background: #f4f4f4;
	align-self: stretch;
	padding: 30px 20px 22px;
	text-align: center;
}
.r_compare_links {
	text-align: center;
	width: 215px;
	margin: auto;
}
.r_compare_links {
	color: #3c3d43;
	font-family: "MuseoSansCyrl-500", sans-serif;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}
.r_compare_text {
	flex-basis: 50%;
	opacity: 0.8;
	color: #3c3d43;
	font-family: "RotisSerifW1G-It", sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	position: relative;
	padding: 50px 56px;
	align-self: stretch;
	margin-bottom: 0 !important;
}
.r_compare_list {
	margin-bottom: 70px;
}
.r_compare_text:last-child {
	border-left: 1px solid #e6e6e6;
}
.r_compare_item {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}
.r_compare_text:after {
	content: '';
	width: 116px;
	height: 1px;
	background-color: #b27b99;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.r_compare_text:last-of-type:after {
	background: #4661bb;
}
.r_col_left,
.r_col_right {
	width: 50%;
}
.r_col_right .r_title,
.r_col_right .r_title--ss{
	color: #4661bb;
}
/*liberalizm*/
.r_liberalism {
	padding-top: 90px;
}
.r_liberalism .r_title--ss {
	color: #fff;
}
.r_liberalism .r_title--ss span{
	display: block;
	text-transform: none;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.55px;
}
.r_liberalism a:hover,
.r_liberalism a {
	color: #fff;
	text-decoration: none;
	font-family: "MuseoSansCyrl-700", sans-serif;
	font-style: normal;
}
.r_liberalism_3 .r_title {
	margin-bottom: 20px;
}
.r_liberalism_3 .r_subtitle {
	/* Style for "«В Америці" */
	color: #ffffff;
	font-family: "RotisSerifW1G-It", sans-serif;
	font-size: 24px;
	font-style: normal;
	line-height: 26px;
	text-align: center;
	margin-bottom: 100px;
}

.r_page .r_liberalism.gradient_bg:after
{
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 68px;
	width: 100%;
	background: url(../img/bg_small_line_2.png) no-repeat bottom left;
	background-size: contain;
}

.r_representatives_list .r_red {
	font-family: "MuseoSansCyrl-700", sans-serif;
}


/*r_factors_2*/
.r_factors_2 .r_head-name {
	color: #3c3d43;
}
.r_factors_2 .d-flex {
	justify-content: flex-start;
	margin-top: 55px;
}
.r_factors_2 .r_col_right {
	padding-left: 80px;
	border-left: 1px solid #fff;
}
.r_factors_2 .r_factors_text {
	margin-bottom: 0;
}
.r_factors_2 .r_col_left {
	padding-right: 80px;
}
.r_factors_2 .r_title {
	margin-bottom: 40px;
}
.r_factors_6 .head,
.r_factors_6 .r_factors_text {
	margin-bottom: 0;
}


.r_factors .head:last-of-type,
.r_factors .head:last-of-type {
	margin-right: 0;
}
/*parallel_2*/

.r_page .gradient_bg.r_parallel_3:after {
	background-position: top -1px right 0;
}
.r_page .gradient_bg.r_parallel_2 {
	padding-top: 168px;
	padding-bottom: 150px;
}
#r_factors_3 .r_factors_text
{
	margin-bottom: 0;
}
.r_page .r_parallel_2 .r_title {
	margin-bottom: 40px;
}
.r_parallel_2 .r_parallel_td:not(.r_td_small),
.r_parallel_2 .r_th  {
	flex-basis: calc((100% - 138px) / 2);
	padding-right: 60px;
}
.r_parallel_2 .table-remaked .r_parallel_td:last-child  {
	flex-basis: calc(100% - 138px);
	padding: 0;

	position: relative;
}
.r_parallel_2 .table-remaked .r_parallel_td:last-child:before
{
	content: '';
	display: block;
	position: absolute;
	top: -30px;
	bottom: 0;
	left: 50%;

	width: 1px;

	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	background: rgba(255,255,255,0.2);
}
.r_parallel_2 .table-remaked .r_parallel_td:last-child .r_parallel_line
{
	display: flex;
}
.r_parallel_2 .table-remaked .r_parallel_td:last-child .r_parallel_line .r_parallel_item
{
	width: 50%;
	padding: 0 60px 0 30px;
}
.r_parallel_2 .table-remaked .r_parallel_td:last-child .r_parallel_line:not(:last-child) .r_parallel_item {
	margin-bottom: 50px;
}
.r_parallel_2 .table-remaked .r_parallel_thead
{
	margin-bottom: 30px;
}
.r_parallel_2 .r_th
{
	position: relative;
}
.r_parallel_2 .r_th:nth-child(2):before
{
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	height: 30px;
	left: -1px;
	width: 1px;
	background: rgba(255,255,255,0.2);
}
.r_parallel_2 .r_th:nth-child(3):before
{
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	height: 30px;
	right: -1px;
	width: 1px;
	background: rgba(255,255,255,0.2);
}

.r_parallel_2 .r_th {
	padding-bottom: 10px;
}
.r_parallel_2 .r_td_small,
.r_parallel_2 .r_th_small {
	flex-basis: 138px;
}
.r_parallel_2 .r_th_small span{
	position: relative;
	top: 100px;
}
.r_parallel_2 .r_parallel_item:not(:last-child)   {
	margin-bottom: 50px;
}
.r_parallel_2 .r_parallel_item .r_parallel_text  {
	margin-bottom: 20px;
	margin-top: 20px;
	display: none;
}
.r_parallel_2 .r_parallel_list  {
	list-style-type: none;
}
.r_parallel_2_text {
	margin-bottom: 80px;
}
.r_red {
	color: #fd7275;
	font-family: "MuseoSansCyrl-500", sans-serif;
}
.info-table .info-row .left-info > span.r_parallel_img,
.info-table .info-row .right-info > span.r_parallel_img {
	border: none;
	width: 150px;
	height: 150px;
	padding: 0;
	background-size: 0;
	background-image: url('../images_r/portrets/portret_frame.svg');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.info-table .info-row .left-info > span.r_parallel_img:hover,
.info-table .info-row .right-info > span.r_parallel_img:hover {
	background-image: url('../images_r/portrets/portret_frame.svg');
	background-repeat: no-repeat;
	background-size: 90px;
	background-position: 60% 40%;
	background-color: transparent;
}
.r_parallel_img img {
	width: 100%;
	height: 150px;
	object-fit: contain;
}

/*quotes*/

.r_quotes {
	padding-top: 150px;
	padding-bottom: 150px;
}
.r_quotes .info-table .info-row {
	padding: 50px 0;
}
.r_quotes .r_title--ss {
	margin-bottom: 66px;
}
.r_quotes .r_compare_links {
	color: #3c3d43;
	width: initial;
	font-family: "MuseoSansCyrl-500", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: center;
	white-space: nowrap;
}
.r_page .lr-popup .lrp-content .side-content .side-text p
{
	text-align: center;
}
.r_page .lr-popup .lrp-content .side-header .side-title
{
	margin-top: 20px;
	font-size: 28px;
	line-height: 1;
}
.r_page .lr-popup .lrp-content .side-header .side-side
{
	font-size: 22px;
	line-height: 26px;
}
.r_page .lr-popup .lrp-content .side-content
{
	margin-top: 35px;
}
.r_page .lr-popup .lrp-content .side-header .side-icon
{
	display: block;
	width: 140px;
	margin: 0 auto;
}
.r_page .lr-popup .lrp-content .side-header .side-icon img
{
	display: block;
	width: 100%;
}


.r_quotes .analysis-info {
	padding-bottom: 80px;
}

/*radial-schema*/
.r_radial-schema_wrapper {
	position: relative;
	background-image: url("../images_r/radial_schem_berk.svg");
	background-position: center center;
	background-size: auto;
	background-repeat: no-repeat;
}
.r_radial-schema_img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	border: 2px solid #d03b3e;
	border-radius: 50%;
	overflow: hidden;
}
.r_radial-schema_img img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.r_radial-schema_list {
	margin-top: 80px;
	display: grid;
	grid-column-gap: 86px;
	grid-row-gap: 270px;
	grid-template-columns: repeat(3, 1fr);
	list-style-type: none;
	margin-bottom: 120px;
}
.r_radial-schema_title {
	margin-bottom: 23px;
	color: #ff7275;
	font-family: "MuseoSansCyrl-900", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
}

/*r_factors_5*/
.r_factors_9 .r_td_small span  {
	color: #3c3d43;
	font-family: "MuseoSansCyrl-900", sans-serif !important;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}
.r_factors_9 .r_parallel_td p {
	color: #3c3d43;
}
.r_factors_5 .r_title--ss {
	margin-bottom: 0;
}
.r_factors_5 .r_subtitle--ss {
	color: #3c3d43;
	letter-spacing: 0.55px;
	text-align: center;
	font-family: "MuseoSansCyrl-700", sans-serif;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 47px;
}
.r_factors_5 .r_radial-schema_img {
	top: 42%;
}
.r_factors_5 .r_radial-schema_wrapper {
	background-image: url('../images_r/radial_schem_mariten.svg');
	background-position: top 38% center;
}
.r_factors_5 .r_radial-schema_text {
	color: #3c3d43;
}

.intro-content p:not(:last-child) {
	margin-bottom: 30px;
}


.r_factors_9 .r_parallel_tbody
{
	margin-bottom: 100px;
}
.r_factors_9 .r_td_small span
{
	-webkit-writing-mode: horizontal-tb;
	writing-mode: horizontal-tb;
	-webkit-transform: none;
	transform: none;
	text-align: left;
	position: relative;
	cursor: pointer;
}
.r_factors_9 .r_parallel_tr.active .r_td_small span
{
	color: #ff7275;
}
.r_factors_9 .r_th_small,
.r_factors_9 .r_td_small,
.r_factors_9 .r_parallel_td,
.r_factors_9 .r_th
{
	border-color: rgba(60, 61, 67, 0.2);
}

.r_factors_9 .r_parallel_tr.active .r_parallel_td:not(.r_td_small):before
{
	display: none !important;
}
.r_factors_9 .r_parallel_tr.tr_wrapper.active .r_parallel_td .parallel-info
{
	display: block;
}

.r_factors_9 .r_parallel_tr
{
	min-height: 160px;
}
.r_factors_9 .r_parallel_tr .r_td_small
{
	display: flex;
}
.r_factors_9 .r_parallel_tr .r_td_small span
{
	display: flex;
	align-items: center;
	height: 160px;
}
.r_factors_9 .r_parallel_tr.active:nth-child(2) .r_td_small span,
.r_factors_9 .r_parallel_tr.active:nth-child(3) .r_td_small span
{
	height: 100px;
}
.r_factors_9 .r_parallel_tr.tr_wrapper .r_parallel_td .parallel-info
{
	display: none;
}
.r_factors_9 .r_parallel_tr .r_parallel_td:not(.r_td_small)
{
	position: relative;
}
.r_factors_9 .r_parallel_tr .r_parallel_td:not(.r_td_small):before
{
	position: absolute;
	top: 50%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	content: '';
	pointer-events: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #8a8a8a;
	-webkit-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;

	background: url('../img/icons/lines.svg') no-repeat center;
	background-size: 22px auto;
}

.delegate
{
	margin-right: 46px;
	margin-bottom: 35px;
}
#representatives .delegate:nth-child(3n+3),
.delegate:last-child
{
	margin-right: 0;
}
.delegate .head-img
{
	width: 135px;
	margin-bottom: 20px;
}
.delegate .head-img img
{
	display: block;
	width: 100%;
}

.r_persons
{
	display: flex;
	justify-content: center;
}
.r_persons .r_head-name
{
	color: #ffffff;
	position: relative;
}
.r_liberalism .r_persons
{
	margin-top: 20px;
	margin-bottom: 8px;
}
.d-flex .r_persons
{
	justify-content: flex-start;
}
.d-flex .r_persons .r_head-name
{
	color: #3c3d43;
}

.r_factors_3 .head-img
{
	margin-left: auto;
	margin-right: auto;
}
.d-flex.justify-content-center
{
	padding: 20px 0 10px;
}

.r_compare_2 .r_col_left,
.r_compare_2 .r_col_right
{
	background: #ffffff;
	align-self: stretch;
	padding: 30px 20px 22px;
	text-align: center;
}
.r_compare_2 .r_col_left .r_title, .r_compare_2 .r_col_right .r_title
{
	margin-bottom: 0;
}


.gradient_bg#r_radial-schema .r_sources .btn_sources svg
{
	fill: rgba(255, 255, 255, .5);
}
.gradient_bg#r_radial-schema .r_sources .r_sources_content
{
	color: #fefefe;
	opacity: .5;
}
.gradient_bg#r_radial-schema .r_sources .btn_sources
{
	color: #fefefe;
	opacity: .5;
}

@media only screen and (min-width: 1281px) {
	.r_page .gradient_bg#r_radial-schema
	{
		padding-top: 150px;
		padding-bottom: 168px;
	}
	.r_page .r_liberalism.gradient_bg#r_radial-schema:after
	{
		background: url(../img/bg_small_line_gr.png) no-repeat bottom right;
	}
	#r_factors_4 .r_factors_text
	{
		margin-bottom: 0;
	}
	#r_liberalism_2
	{
		padding-top: 165px;
		padding-bottom: 150px;
		position: relative;
	}
	#r_liberalism_2:after
	{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 68px;
		width: 100%;
		background: url(../img/bg_small_line_gr2.png) no-repeat bottom right;
		background-size: contain;
	}
	#representatives_2
	{
		padding: 150px 0;
	}
	#representatives_2 .r_factors_text
	{
		margin-bottom: 0;
	}
	#representatives_2.r_representatives_list .lr-container:after
	{
		display: none;
	}
	#r_factors_5, #r_factors_7, #r_factors_8, #r_factors_9
	{
		padding: 150px 0;
	}
	#r_liberalism_3
	{
		padding-bottom: 182px;
	}
	#r_factors_6
	{
		padding: 150px 0 100px;
	}
	#r_factors_7 .r_factors_text,
	#r_factors_8 .r_factors_text
	{
		margin-bottom: 0;
	}
	#r_parallel_3
	{
		padding-top: 165px;
		padding-bottom: 150px;
	}
	#r_parallel_3 .r_parallel_2_text:last-child
	{
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 1800px) {
	.r_head-name {
		font-size: 16px;
		line-height: 1.2;
	}

	.r_page .r_title--ss {
		font-size: 25px;
		line-height: 32px;
	}
	.r_page .r_title {
		font-size: 32px;
		line-height: normal;
	}
	.btn_sources {
		font-size: 18px;
	}
	.r_compare_text {
		font-size: 20px;
		padding: 30px 50px;
	}
	.r_sources_content a,
	.r_sources_content li {
		font-size: 16px;
		line-height: 24px;
	}
	.r_main_title {
		font-size: 95px;
	}
	.r_main_subtitle:nth-child(n) {
		font-size: 28px;
	}
}
@media only screen and (max-width: 1519px) {
	.r_main_title {
		font-size: 90px
	}

	.r_main_subtitle:nth-child(n) {
		font-size: 23px
	}

	.r_page .lr-headsofstate-list .country .country-content .cc-side .side-heads .head:nth-child(n) {
		margin-right: 18px;
	}

	.lr-headsofstate-list .country .country-content .cc-side .side-heads .head .head-img
	{
		width: 120px;
		margin: 0 auto 15px;
	}

	.delegate
	{
		margin-right: 30px;
		margin-bottom: 25px;
	}
	.delegate .head-img
	{
		width: 120px;
	}
	#representatives .delegate:nth-child(3n+3),
	.delegate:last-child
	{
		margin-right: 0;
	}
}
@media only screen and (max-width: 1439px) {
	.r_main_title {
		font-size: 80px
	}

	.r_main_subtitle:nth-child(n) {
		font-size: 26px
	}

	.r_page .r_title--ss {
		font-size: 23px;
		line-height: 32px;
	}
	.r_page .r_title {
		font-size: 30px;
		line-height: normal;
	}

	ul li {
		margin-bottom: 10px
	}
	.r_page .lr-analysis .lr-container:after,
	.r_page .lr-container:after {
		right: 0;
		width: 200px;
	}
	.lr-container.r_container_table
	{
		padding-left: 80px !important;
	}

	.r_td_small span
	{
		font-size: 30px;
		line-height: 1.05;
	}

}
@media only screen and (max-width: 1280px) {
	.r_page .lr-analysis .lr-container:after,
	.r_page .lr-container:after {
		right: 0;
		width: 160px;
		background-position: right -60px top;
	}
}
@media only screen and (max-width: 1100px) {
	.r_compare_links {
		width: auto;
	}
	.r_quotes .r_title, .r_compare .r_title--ss {
		white-space: normal;
	}
	.r_factors_2 .r_col_right {
		padding-left: 40px;
	}
	.r_factors_2 .r_col_left {
		padding-right: 40px;
	}
	.r_history p.r_subtitle,
	.r_history_item-text {
		width: 100%;
	}
	.r_factors .d-flex {
		flex-wrap: wrap;
	}
	.r_quotes .r_title, .r_compare .r_title {
		white-space: normal;
	}

	.r_side-info
	{
		width: auto;
	}
	.r_page .lr-analysis .lr-container:after, .r_page .lr-container:after
	{
		display: none;
	}
	.lr-headsofstate-list .country .country-content
	{
		flex-wrap: wrap;
	}
	.lr-headsofstate-list .country .country-content .cc-side
	{
		width: 100%;
	}
	.r_page .lr-headsofstate-list .country .country-content .cc-left
	{
		margin-bottom: 40px;
	}
	.r_page .lr-headsofstate-list .country .country-content .cc-left,
	.r_page .lr-headsofstate-list .country .country-content .cc-right
	{
		padding-left: 0;
		padding-right: 0;
	}
	#representatives .delegate:nth-child(3n+3)
	{
		margin-right: 30px;
	}
	.r_history_wrapper
	{
		margin: 0 20px;
	}

	.r_history_hide_left
	{
		left: 20px;
	}
	.r_history_hide_right
	{
		right: 20px;
	}
	.r_history_item-text
	{
		min-height: 200px;
	}
	.r_representatives_list{
		padding-bottom: 75px;
	}
	#representatives_2 .r_factors_text
	{
		margin-bottom: 0;
	}


	#parallels .lr-container.r_container_table,
	.lr-container.r_container_table
	{
		padding-left: 40px !important;
	}
	.r_th
	{
		font-size: 16px;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 1.4;
	}
	.r_parallel_td
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	.r_parallel_td.r_td_small
	{
		padding-left: 0;
		padding-right: 10px;
	}
	.r_td_small span
	{
		font-size: 26px;
	}
	.r_factors_9 .r_parallel_tbody
	{
		margin-bottom: 50px;
	}

}
@media only screen and (max-width: 991px) {
	.r_page .gradient_bg
	{
		padding: 75px 0 100px;
	}
	.r_difference, .r_representatives_list,
	.r_page .gradient_bg.r_parallel, .r_history, .r_factors, .r_compare, .r_quotes
	{
		padding: 75px 0;
	}
	.r_representatives_list .r_title--ss,
	#r_history .r_title--ss,
	.r_compare .r_title--ss,
	.r_page .r_title--ss
	{
		text-align: center;
		margin-bottom: 20px;
	}
	.r_history_hide_left
	{
		left: 90px;
	}
	.r_history_hide_right
	{
		right: 90px;
	}
	.r_history_item-text
	{
		font-size: 18px;
	}
	#r_parallel_2, #r_parallel_3, #parallels
	{
		padding-top: 100px;
	}
	.r_radial-schema_list
	{
		margin-bottom: 75px;
	}
	p.r_parallel_2_text:last-child,
	.r_factors_8 .r_factors_text
	{
		margin-bottom: 0;
	}
	.r_factors_9 .r_title--ss br
	{
		display: none;
	}

	#parallels.r_parallel .r_title
	{
		margin-bottom: 20px !important;
	}
	#parallels .r_parallel_thead,
	#r_factors_9 .r_parallel_thead
	{
		display: none;
	}
	#parallels .r_parallel_tr,
	#r_factors_9 .r_parallel_tr
	{
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	#parallels .r_parallel_tr .r_parallel_td,
	#r_factors_9 .r_parallel_tr .r_parallel_td
	{
		flex-basis: auto;
		position: relative;
		border: none;
		width: 100%;
	}
	#parallels .r_parallel_tr .r_parallel_td:before,
	#r_factors_9 .r_parallel_tr .r_parallel_td:before
	{
		color: #ff7275;
		font-family: "MuseoSansCyrl-900", sans-serif;
		margin-bottom: 10px;
		font-size: 16px;
		text-transform: uppercase;
	}
	#r_factors_9 .r_parallel_tr .r_parallel_td:before
	{
		position: static;
		background: none;
		width: auto;
		height: auto;
		border: none;
		-webkit-transform: none;
		transform: none;
		display: block;
	}
	#parallels .r_parallel_tr .r_parallel_td:nth-child(2):before
	{
		content: 'Головні ідеї Реформації';
	}
	#parallels .r_parallel_tr .r_parallel_td:nth-child(3):before
	{
		content: 'Соціальне вчення Ж.Кальвіна і його послідовників';
	}
	#parallels .r_parallel_tr .r_parallel_td:nth-child(4):before
	{
		content: 'Головні ідеї англосаксонського лібералізму';
	}
	#r_factors_9 .r_parallel_tr .r_parallel_td:nth-child(2):before
	{
		content: 'Палеоконсерватизм';
	}
	#r_factors_9 .r_parallel_tr .r_parallel_td:nth-child(3):before
	{
		content: 'Неоконсерватизм';
	}
	#r_factors_9 .r_parallel_tr .r_parallel_td:nth-child(4):before
	{
		content: 'Релігійні праві';
	}
	#parallels .r_parallel_tr:last-child .r_parallel_td:nth-child(3)
	{
		display: none;
	}
	.r_factors_9 .r_parallel_tr .r_td_small span
	{
		display: block;
		height: auto;
		line-height: 1.2;
	}
	.r_factors_9 .r_parallel_tr:nth-child(1) .r_td_small span br
	{
		display: block !important;
	}
	#r_factors_9 .r_parallel_tr .r_parallel_td.r_td_small span
	{
		margin: 0 !important;
	}
	.r_factors_9 .r_parallel_tr.tr_wrapper .r_parallel_td .parallel-info
	{
		display: block;
	}
	.r_factors_9 .r_factors_text
	{
		display: none;
	}


	#parallels .r_parallel_tr .r_parallel_td.r_td_small,
	#r_factors_9 .r_parallel_tr .r_parallel_td.r_td_small
	{
		width: 100%;
		padding-right: 0;
		border-right: none;
	}
	#parallels .r_parallel_tr .r_parallel_td.r_td_small span,
	#r_factors_9 .r_parallel_tr .r_parallel_td.r_td_small span
	{
		margin: 0 auto;
		transform: none;
		writing-mode: horizontal-tb;
		text-align: left;
		padding-bottom: 0;

		font-size: 30px;
	}
	#parallels .r_parallel_tr .r_parallel_td.r_td_small span br,
	#r_factors_9 .r_parallel_tr .r_parallel_td.r_td_small span br
	{
		display: none;
	}
	#parallels .lr-container.r_container_table, .lr-container.r_container_table,
	#r_factors_9 .lr-container.r_container_table, .lr-container.r_container_table
	{
		padding-left: 20px !important;
	}
	#parallels .r_parallel_tr .r_parallel_td,
	#r_factors_9 .r_parallel_tr .r_parallel_td
	{
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	#r_parallel_2 .lr-container:first-child
	{
		margin-bottom: 40px;
	}
	#r_parallel_2 .lr-container:nth-child(2)
	{
		display: block !important;
	}
	#r_parallel_2 .lr-container:nth-child(3)
	{
		display: none;
	}
	#r_parallel_2 .r_parallel_thead
	{
		display: none;
	}
	#r_parallel_2 .r_parallel_tr
	{
		flex-wrap: wrap;
	}
	#r_parallel_2 .r_parallel_td.r_td_small
	{
		display: none;
	}
	#r_parallel_2 .r_parallel_td:not(:first-child)
	{
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		border-right: none;
		position: relative;
	}
	#r_parallel_2 .r_parallel_td:before
	{
		display: block;
		color: #ff7275;
		font-family: "MuseoSansCyrl-900", sans-serif;
		font-size: 16px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	.r_parallel_2 .r_parallel_item:not(:last-child)
	{
		margin-bottom: 20px;
	}
	.r_parallel_2 .r_parallel_item .r_parallel_text
	{
		display: block;
	}
	.r_parallel_2 .r_parallel_item .r_parallel_btn
	{
		display: none;
	}
	#r_parallel_2 .r_parallel_td:nth-child(2):before
	{
		content: 'Сучасний лібералізм (соціал-лібералізм)';
	}
	#r_parallel_2 .r_parallel_td:nth-child(3):before
	{
		content: 'Англосаксонський лібералізм';
	}
	.r_parallel_2 .r_parallel_td:not(.r_td_small), .r_parallel_2 .r_th
	{
		flex-basis: auto;
		width: 50%;
	}
	#r_parallel_2 .r_th_small
	{
		display: none;
	}
	#r_parallel_2 .r_th:last-child,
	#r_parallel_2 .r_parallel_td:last-child
	{
		border-right: none;
	}
	.r_parallel_td li, .r_parallel_td h4
	{
		font-size: 18px;
	}

	#r_quotes .r_page .r_title
	{
		font-size: 24px;
	}

	.r_radial-schema_wrapper,
	.r_radial-schema_wrapper
	{
		background-image: none !important;
	}
	.r_radial-schema_list
	{
		margin-top: 50px;
		margin-bottom: 50px;

		display: block;
	}
	.r_radial-schema_list li
	{
		margin-bottom: 20px;
	}
	.r_radial-schema_list .r_radial-schema_title
	{
		margin-bottom: 10px;
		font-size: 19px;
		line-height: 1.2;
	}
	.r_radial-schema_img
	{
		position: static;
		-webkit-transform: none;
		transform: none;

		margin: 0 auto;
	}
	.r_page .r_parallel:after{
		height: 50px;
	}
	.r_page .r_parallel .r_title
	{
		margin-bottom: 20px;
	}
	.r_page .lr-nav-layer .nav-layer-content .nav-chapters
	{
		width: 100% !important;
	}
	.lr-nav-layer .nav-layer-content .nav-landing
	{
		max-height: 280px;
		overflow-y: scroll;
	}



}
@media only screen and (max-width: 639px) {
	.r_main_title {
		font-size: 42px !important;
		padding-left: .3em;
	}
	.intro-content p:not(:last-child)
	{
		padding-bottom: 18px;
		margin-bottom: 20px;
	}
	.r_title--ss{
		letter-spacing: 2px;
		font-size: 25px;
		line-height: 1.2;
	}

	.r_sources_content a,
	.r_sources_content li {
		font-size: 14px;
		line-height: normal;
	}

	.r_main_title {
		font-size: 50px
	}
	.r_main_subtitle:nth-child(n) {
		font-size: 17px
	}
	.r_page .r_title--ss {
		font-size: 25px;
		line-height: 32px;
	}
	.r_page .r_title {
		font-size: 32px;
		line-height: normal;
	}

	.lr-nav-layer .nav-layer-content .nav-chapters ul li {
		margin-bottom: 10px
	}
	.lr-nav-layer .nav-layer-content .nav-landing ul li {
		line-height: 1.1
	}
	.lr-nav-layer .nav-layer-content .nav-landing ul li a {
		font-size: 14px
	}

	.r_compare_item, .r_compare_header
	{
		flex-wrap: wrap;
	}
	.r_compare .r_col_left, .r_compare .r_col_right
	{
		width: 100%;
		padding: 20px;
	}
	.r_liberalism .r_persons
	{
		flex-wrap: wrap;
	}
	.delegate:nth-child(2n+2)
	{
		margin-right: 0;
	}
	#r_factors_2 .r_col_left, #r_factors_2 .r_col_right
	{
		width: 100%;
		border: none !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.r_col_left
	{
		margin-bottom: 30px;
	}
	.r_page .r_title--ss
	{
		letter-spacing: 2px;
		font-size: 25px;
		line-height: 1.2;
	}

	#r_quotes .r_col_left .r_title,
	#r_quotes .r_col_right .r_title
	{
		font-size: 22px;
	}
	#r_quotes .r_col_left .r_title,
	#r_quotes .r_col_left .r_compare_links
	{
		text-align: left;
	}
	#r_quotes .r_col_right .r_title,
	#r_quotes .r_col_right .r_compare_links
	{
		text-align: right;
	}
	.r_quotes .r_compare_links
	{
		white-space: normal;
	}
	.r_compare_list
	{
		margin-bottom: 40px;
	}
	.r_quotes
	{
		overflow: hidden;
	}
	.r_quotes .info-table .info-row
	{
		padding: 0 20px;
	}
	.info-table .info-row .left-info > span.r_parallel_img, .info-table .info-row .right-info > span.r_parallel_img
	{
		position: relative;
	}
	.info-table .info-row .left-info > span.r_parallel_img
	{
		left: -40px;
	}
	.info-table .info-row .right-info > span.r_parallel_img
	{
		right: -40px;
	}
	.info-table .info-row .left-info, .info-table .info-row .right-info
	{
		width: 55px;
		margin-left: 0;
		margin-right: 0;
	}

	.r_scheme_btn
	{
		width: 70px;
		height: 70px;
	}
	.r_scheme_btn svg
	{
		width: 20px;
		height: 20px;
	}
	.r_scheme_btn:after
	{
		font-size: 14px;
	}

	.lr-intro
	{
		overflow: hidden;
	}
	#r_difference
	{
		padding-bottom: 0;
	}
	.r_representatives_list .r_title--ss, #r_history .r_title--ss, .r_compare .r_title--ss, .r_page .r_title--ss
	{
		margin-bottom: 40px;
	}
	.r_page .lr-headsofstate-list .country .country-content .cc-right
	{
		border-left: none;
	}
	.r_history_hide_left img,
	.r_history_hide_right img
	{
		width: 60px;
		height: auto;
	}
	.r_history_hide_left
	{
		left: 70px;
	}
	.r_history_hide_right
	{
		right: 70px;
	}
	.owl-item.active .r_history_date span
	{
		font-size: 16px;
	}
	.r_history_wrapper
	{
		margin: 0;
	}
	.owl-item.active .r_history_item.r_history_item--small:after
	{
		-webkit-transform: scale(7);
		transform: scale(7);
	}

	.r_page .r_title br
	{
		display: none;
	}
	.r_page .r_title
	{
		font-size: 26px;
	}
	.r_factors_text{
		margin-bottom: 40px;
	}
	#r_factors .r_title--ss
	{
		text-align: left;
	}
	.r_compare_text
	{
		width: 100%;
		flex-basis: auto;
		border-left: none !important;
		padding-left: 0;
		padding-right: 0;
	}
	.mfp-figure figure
	{
		padding: 0 10px;
	}
	#r_factors_9 .r_parallel_tr .r_parallel_td.r_td_small span
	{
		font-size: 20px;
	}
	#r_factors_9 .r_parallel_tr .r_parallel_td
	{
		padding-top: 15px;
	}

	/*#r_compare .r_compare_list:nth-child(2) .r_col_left,*/
	/*#r_compare_2 .r_compare_list:nth-child(2) .r_col_left*/
	/*{*/
	/*	margin-bottom: 0;*/
	/*}*/
	/*#r_compare .r_compare_list:nth-child(2) .r_col_right,*/
	/*#r_compare_2 .r_compare_list:nth-child(2) .r_col_right,*/
	/*#r_compare .r_compare_list:nth-child(2) .r_compare_text:last-child,*/
	/*#r_compare_2 .r_compare_list:nth-child(2) .r_compare_text:last-child*/
	/*{*/
	/*	display: none;*/
	/*}*/
	/*#r_compare .r_compare_list:nth-child(3),*/
	/*#r_compare_2 .r_compare_list:nth-child(3)*/
	/*{*/
	/*	display: block !important;*/
	/*}*/
	/*#r_compare .r_compare_list:nth-child(3) .r_col_left,*/
	/*#r_compare_2 .r_compare_list:nth-child(3) .r_col_left,*/
	/*#r_compare .r_compare_list:nth-child(3) .r_compare_text:first-child,*/
	/*#r_compare_2 .r_compare_list:nth-child(3) .r_compare_text:first-child*/
	/*{*/
	/*	display: none;*/
	/*}*/

	.r_compare .r_col_left, .r_compare .r_col_right
	{
		width: 50%;
		padding: 20px 10px;
		align-self: stretch;
		margin-bottom: 0;
	}
	.r_compare .r_col_left .r_title, .r_compare .r_col_right .r_title
	{
		font-size: 16px;
	}
	.r_compare .r_col_left .r_compare_links, .r_compare .r_col_right .r_compare_links
	{
		font-size: 15px;
		line-height: 1.3;
	}
	.r_compare_item, .r_compare_header
	{
		align-items: flex-start;
	}
	.r_compare_text
	{
		font-size: 16px;
		line-height: 1.2;
		width: 50%;
		padding: 30px 5px;
	}


	#representatives.lr-headsofstate-list .country .country-content .cc-side .side-heads
	{
		justify-content: center;
	}
	#representatives .delegate:last-child, #representatives .delegate:nth-child(2n+2)
	{
		margin-right: 0 !important;
	}

	.r_quotes .analysis-info
	{
		position: relative;
		left: -20px;
		width: calc(100% + 40px);
	}

	#r_liberalism .r_persons .delegate:last-child .r_head-name
	{
		position: absolute;
	}
	.d-flex .r_persons
	{
		justify-content: center;
	}
	#r_factors_3 .delegate
	{
		margin-right: 0;
	}

	#r_parallel_2 .r_parallel_td:last-child,
	#r_parallel_2 .r_parallel_td:last-child .r_parallel_item:last-child
	{
		padding-bottom: 0;
	}
	#r_parallel_2 .r_parallel_td
	{
		padding-bottom: 0;
		padding-top: 0;
	}

	#r_difference
	{
		padding: 50px 0 0;
		margin-bottom: -20px;
	}
	.r_difference_top
	{
		margin-bottom: 40px;
	}
	.r_page .r_parallel:after,
	.r_page .r_liberalism.gradient_bg:after
	{
		display: none !important;
	}
	.lr-headsofstate-list .country:last-child
	{
		padding-bottom: 0;
	}
	#r_radial-schema
	{

	}
	.r_difference, .r_representatives_list, .r_page .gradient_bg.r_parallel, .r_history, .r_factors, .r_compare, .r_quotes,
	#r_parallel_2, #r_parallel_3, #parallels, .r_page .gradient_bg
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	#r_factors_4 .r_factors_text,
	#r_factors_7 .r_factors_text
	{
		margin-bottom: 0;
	}
	#r_liberalism_2 .r_title--ss
	{
		margin-top: 40px;
	}

	#r_factors_6 .delegate:last-child
	{
		margin-bottom: 0;
	}

	.lr-footer
	{
		padding: 50px 0;
	}
	.lr-footer:before
	{
		display: none;
	}

	#analysis_1, #r_factors, #r_liberalism, #r_factors_2, #r_factors_3, #r_factors_4, #r_liberalism_2,
	#r_liberalism_3
	{
		padding-top: 40px;
	}
}